/*body {
	max-width: 70em;
	margin: 2em auto;
}

main {
	text-align: center;
	font-size: 8em;
}*/
.container {
	height: 100vh;
	position: relative;
	background: linear-gradient(#FEFEFE 50%,#10ee90);
	box-shadow: inset 0 0 30px #90ee90;
	/*background: url('../img/principal-senepol.jpg') no-repeat center;
	background-size: cover; */
}

.container_login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	padding: 20px;
	background-color: #FEFEFE;
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-sizing : border-box;
	border: 1px solid #8B4513;
	border-radius: 10px;
}

.container h3 {
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	color: #8B4513;
	box-shadow: 5px 5px 1px 1px #8B4513;
	/*font-family: 'Special Elite', courier,arial,helvetica;*/
}

form {
	padding-top: 30px;
}

.grupo_div label {
	margin-bottom: 0.2em;
	display: block;
	color: #8B4513;
	font-weight: bold;
	font-size: 20px;
}

.grupo_div input {
	width: 100%;
	height: 25px;
	font-size: 19px;
	border: none;
  	border-bottom: 1px solid #8B4513;
  	border-radius: 4px;
  	background-color: #FEFEFE;
  	outline:none;

}


.espaco_topo {
	margin-top: 15px;
}

.div_submeter {
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 15px;
}

.div_submeter input {
	font-size: 15px;
	color: #FFFFFF;
	border: none;
  	border: 1px solid #8B4513;
  	border-radius: 4px;
	background-color: #8B4513;
  	font-weight: bold;
	height: 25px;
}

.div_submeter input:hover {
	font-size: 15px;
	background-color: #BDB76B;
	cursor: pointer;
	color: #8B4513;
	
}

.div_submeter a {
	position: absolute;
	top: 7px;
	right: 0;
	text-decoration: none;
	right: 0;
	color: #8B4513;
	font-weight: bold;
	cursor: pointer;
}

.div_submeter a:hover{
	color: #BDB76B;
	text-decoration: underline;
}

@media screen and ( max-width: 480px) {
	.container_login{
		width: 85%;
	}
	
	.container h3 {
		font-size: 30px;
		box-shadow: 5px 10px  #8B4513;
	}
	
}