/*body {
	max-width: 70em;
	margin: 2em auto;
}

main {
	text-align: center;
	font-size: 8em;
}*/
.container {
	height: 100vh;
	position: relative;
	background-color: #F5F5DC;
	background: url('../img/principal-senepol.jpg') no-repeat center;
	background-size: cover;
}

.container_login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	padding: 20px;
	background-color: #BDB76B;
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	opacity: 0.9;
	box-sizing : border-box;
	border: 2px solid #8B4513;
	border-radius: 10px;
}

.container h3 {
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	color: #8B4513;
}

form {
	padding-top: 30px;
}

.grupo_div label {
	margin-bottom: 0.2em;
	display: block;
	color: #8B4513;
	font-weight: bold;
	font-size: 20px;
}

.grupo_div input {
	width: 100%;
	height: 25px;
	font-size: 19px;
	border: none;
  	border-bottom: 2px solid #8B4513;
  	border-radius: 4px;
  	background-color: #BDB76B;
  	outline:none;

}


.espaco_topo {
	margin-top: 15px;
}

.div_submeter {
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 15px;
}

.div_submeter input {
	font-size: 20px;
	color: #8B4513;
	border: none;
  	border: 2px solid #8B4513;
  	border-radius: 4px;
  	background-color: #BDB76B;
  	font-weight: bold;
}

.div_submeter input:hover {
	font-size: 20px;
	background-color: #BDB76B;
	color: #A0522D;
	
}

.div_submeter #recuperar_senha {
	position: absolute;
	top: 7px;
	right: 0;
	text-decoration: none;
	right: 0;
	color: #8B4513;
	font-weight: bold;
}

#recuperar_senha:hover{
	color: #A0522D;
}